.image-container{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

img{
    display: inline-block;
    width: 18%;
    position: absolute;
}

.search-box{
    text-align: center;
        
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0; 
    width: 100%;
    height: 100%;
}

li{
    float: right;
}

li a{
    list-style-type: none;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 10px;
    font-size: small;
    width: 100%;


}
p{
    color: grey;
    text-align: left;
    font-size: small;
}

.black{
    color: black;
    font-size: small;
    text-align: center;
}

.center{
    
    text-align: center;
}

footer{
    height: 235px;
    text-align: left;
    text-align: center;
    position: absolute;
    bottom: 0px;
}



